/.vs
README_en.md
/XiaoZhi.Net.Application.Contracts/bin
/XiaoZhi.Net.Application.Contracts/obj
/XiaoZhi.Net.Application/bin
/XiaoZhi.Net.Application/obj
/XiaoZhi.Net.Domain.Share/bin
/XiaoZhi.Net.Domain.Share/obj
/XiaoZhi.Net.Domain/bin
/XiaoZhi.Net.Domain/obj
/XiaoZhi.Net.Server/bin
/XiaoZhi.Net.Server/obj
/XiaoZhi.Net.Test/bin
/XiaoZhi.Net.Test/obj
/XiaoZhi.Net.WebApi/bin
/XiaoZhi.Net.WebApi/obj
/XiaoZhi.Net.WebApi/logs
*.vssscc
XiaoZhi.Net.WebApi/appsettings.Development.json
*.vspscc
