/.vs
README_en.md
src/XiaoZhi.Manage.Api/XiaoZhi.Net.Application.Contracts/bin
src/XiaoZhi.Manage.Api/XiaoZhi.Net.Application.Contracts/obj
src/XiaoZhi.Manage.Api/XiaoZhi.Net.Application/bin
src/XiaoZhi.Manage.Api/XiaoZhi.Net.Application/obj
src/XiaoZhi.Manage.Api/XiaoZhi.Net.Domain.Share/bin
src/XiaoZhi.Manage.Api/XiaoZhi.Net.Domain.Share/obj
src/XiaoZhi.Manage.Api/XiaoZhi.Net.Domain/bin
src/XiaoZhi.Manage.Api/XiaoZhi.Net.Domain/obj
src/XiaoZhi.Server/XiaoZhi.Net.Server/bin
src/XiaoZhi.Server/XiaoZhi.Net.Server/obj
src/XiaoZhi.Server/XiaoZhi.Net.Test/bin
src/XiaoZhi.Server/XiaoZhi.Net.Test/obj
src/XiaoZhi.Manage.Api/XiaoZhi.Net.WebApi/bin
src/XiaoZhi.Manage.Api/XiaoZhi.Net.WebApi/obj
src/XiaoZhi.Manage.Api/XiaoZhi.Net.WebApi/logs
*.vssscc
XiaoZhi.Net.WebApi/appsettings.Development.json
*.vspscc
