/.vs
README_en.md
src/api/XiaoZhi.Net.Application.Contracts/bin
src/api/XiaoZhi.Net.Application.Contracts/obj
src/api/XiaoZhi.Net.Application/bin
src/api/XiaoZhi.Net.Application/obj
src/api/XiaoZhi.Net.Domain.Share/bin
src/api/XiaoZhi.Net.Domain.Share/obj
src/api/XiaoZhi.Net.Domain/bin
src/api/XiaoZhi.Net.Domain/obj
src/api/XiaoZhi.Net.WebApi/bin
src/api/XiaoZhi.Net.WebApi/obj
src/api/XiaoZhi.Net.WebApi/logs
src/api/XiaoZhi.Net.WebApi/appsettings.Development.json
src/server/XiaoZhi.Net.Server/bin
src/server/XiaoZhi.Net.Server/obj
src/server/XiaoZhi.Net.Test/bin
src/server/XiaoZhi.Net.Test/obj
*.vssscc
*.vspscc
/demo/Demo.Server/bin
/demo/Demo.Server/obj
